    <div>
    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#agentlibrary">Load Template from Library</button>

    <div id="agentlibrary" class="collapse">
        <hr>
        <ul>
          <li *ngFor="let agent of agentLibraryService.agentsInLibrary; let idx = index">
    <button (click)="deleteAgentInLibrary(idx)" class="btn btn-danger">delete</button>
    <button (click)="loadAgentFromLibrary(agent)" class="btn btn-success">load</button>
            {{agent.title}}
            </li>
          </ul>
        <hr>
    </div>
    </div>
    <div>

      <h3>Add new Agent to Battle</h3>




{{agent | json}}





      <form class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Title:</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" name="title" [(ngModel)]="agent.title" id="email" required placeholder="Enter title">
    </div>
  </div>


      <div class="form-group">
  <label class="control-label col-sm-2"  for="typeselect">Select Type of Agent:</label>
    <div class="col-sm-10">
        <select class="form-control" id="typeselect" name="agenttype" [(ngModel)]="agent.type">
     <option *ngFor="let item of types | enumPipe" [value]="item.key">{{item.value}}</option>
  </select>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="avatarurl">Avatar URL:</label>
    <div class="col-sm-10"> 
      <input type="url" class="form-control" [(ngModel)]="agent.avatarUrl" name="avatarurl"  id="avatarurl" placeholder="Enter url">
      <div style="height: 200px;text-align:center;">
      <img [src]="agent.avatarUrl" class="img-responsive"
       style="width: inherit;">
       </div>
    </div>
    </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Description:</label>
    <div class="col-sm-10">
      <textarea type="email" class="form-control" [(ngModel)]="agent.description" name="description"  id="email" placeholder="Enter title"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Soak:</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="email" name="soak" [(ngModel)]="agent.soak"  placeholder="Enter title">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Hardness:</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="email" name="hardness" [(ngModel)]="agent.hardness"  placeholder="Enter title">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Evasion:</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="email" name="evasionDV" [(ngModel)]="agent.evasionDV"  placeholder="Enter title">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Parry:</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="email" name="parryDV" [(ngModel)]="agent.hpWPZero"  placeholder="Enter title">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="email">-0 Health Points:</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="email" name="hpWPZero" [(ngModel)]="agent.hpWPZero"  placeholder="Enter title">
    </div>
  </div>
  <div class="form-group"  *ngIf="agent.type!=1">
    <label class="control-label col-sm-2" for="email">-1 Health Points:</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="email" name="hpWPOne" [(ngModel)]="agent.hpWPOne"  placeholder="Enter title">
    </div>
  </div>
  <div class="form-group"  *ngIf="agent.type!=1">
    <label class="control-label col-sm-2" for="email">-2 Health Points:</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="email" name="hpWPTwo" [(ngModel)]="agent.hpWPTwo" placeholder="Enter title">
    </div>
  </div>
  <div class="form-group"  *ngIf="agent.type!=1">
    <label class="control-label col-sm-2" for="email">-4 Health Points:</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="email" name="hpWPFour" [(ngModel)]="agent.hpWPFour"  placeholder="Enter title">
    </div>
    
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Info on Health:</label>
    <div class="col-sm-10">
      <p class="form-control-static">Every agent also has an additional, implicit 'Inc.' health point.</p>
    </div>
  </div>



  <div class="form-group"  *ngIf="agent.type==1">
    <label class="control-label col-sm-2" for="email">Size:</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="email" name="size" [(ngModel)]="agent.size"  placeholder="Enter Size of Battlegroup">
    </div>
  </div>


      <div class="form-group" *ngIf="agent.type==1">
  <label class="control-label col-sm-2"  for="drillselect">Select Drill of Battlegroup:</label>
    <div class="col-sm-10">
        <select class="form-control" id="drillselect" name="drill" [(ngModel)]="agent.drill">
     <option *ngFor="let item of drills | enumPipe" [value]="item.key">{{item.value}}</option>
  </select>
    </div>
  </div>

  <div class="form-group"  *ngIf="agent.type==1">
    <label class="control-label col-sm-2" for="email">Might:</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="email" name="might" [(ngModel)]="agent.might" placeholder="Enter Might of Battlegroup">
    </div>
  </div>
  
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">

    <button type="button" (click)="clear()" class="btn btn-danger">Clear / Revert</button>
    <button type="button" [disabled]="agent.title == null || agent.title.length == 0" (click)="storeInLibrary()" class="btn btn-info">Save Agent to Template Library</button>
    <button type="submit" [disabled]="agent.title == null || agent.title.length == 0" (click)="addToBattle()" class="btn btn-primary">Add Agent to Battle</button>
    </div>
  </div>
</form>


    

    </div>
    