<li class="agent-visualize-container"  [ngStyle]="{ 'background-color': background_color }" >
  <div *ngIf="agent">


<div style="display:table-cell; vertical-align:middle; text-align:center; width: 220px; height: 120px;">
      <img [src]="agent.avatarUrl" 
       style="width: inherit;">
</div>



<div>

<div class="numberCircle">{{agent.initiative}}</div>
<div *ngIf="agent.type==1" class="symbolBG"><span class="glyphicon glyphicon-th"></span></div>
<div *ngIf="agent.type==2" class="symbolWeak"><span class="glyphicon glyphicon-pawn"></span></div>
<div *ngIf="agent.type==4" class="symbolStrong"><span class="glyphicon glyphicon-knight"></span></div>
<div *ngIf="agent.type==6" class="symbolSpecial"><span class="glyphicon glyphicon-queen"></span></div>


    <h4>{{agent.title}}</h4>

    <div class="description">{{agent.description}}</div>
    <label> Parry: {{agent.parryDV}} / Evasion: {{agent.evasionDV}} </label>
    <label> Soak: {{agent.soak}} / Hardness: {{agent.hardness}} </label>
    



  </div>

    <div *ngIf="agent.type!=1">
    <div>Remaining Health: {{agent.hpWPZero + agent.hpWPOne + agent.hpWPTwo + agent.hpWPFour + 1 - agent.damageLethal - agent.damageBashing - agent.damageAggravated}} / {{agent.hpWPZero + agent.hpWPOne + agent.hpWPTwo + agent.hpWPFour + 1}}</div>
    <div>Wound Penalty: {{agent | woundpenalty}}</div>

    </div>
    

    <div *ngIf="agent.type==1">
    <div>
      Might: {{agent.might}}
      </div>
      <div>
    Drill: {{ Drill[agent.drill]}}
      </div>

      <div>
        <label> Magnitude: {{agent.magnitude - agent.damageLethal - agent.damageBashing - agent.damageAggravated}} / {{agent.magnitude}}  (Size {{agent.size}})</label>
      </div>
    </div>
<hr>    

<button (click)="commitAction()">Action this round</button>
<button>Set Initiative</button>
<button>Increase Initiative</button>
<button>Decrease Initiative</button>
<button disabled>Take Withering Damage</button>


<button disabled>Take Decisive Damage</button>
<button disabled>Heal Damage</button>
<button disabled>Add Custom Condition</button>
<button (click)="disableEnable()">Dis-/Enable</button>
<button (click)="remove()">Remove</button>


    <div *ngIf="agent.conditions.length  > 0">
<hr>
    <label>Conditions:</label>
    <ul>
      <li *ngFor="let condition of agent.conditions; let cidx = index">{{condition}}</li>
    </ul>
    </div>

</div>
</li>