
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseSelectBattle">Choose your Battle</a>
      </h4>
    </div>
    <div id="collapseSelectBattle" class="panel-collapse collapse">
      <div class="panel-body">
        <h2>
  battle-selector works!
</h2>
<button (click)="addBattle()">Add new battle</button>
<ul>
  <li *ngFor="let battle of battleLibraryService.battles; let bIdx = index">
    <button (click)="select(bIdx)" class="btn btn-primary" [disabled]="battleLibraryService.openedIndex == bIdx">select</button>
    <button (click)="delete(bIdx)" class="btn btn-danger">delete</button>
    {{battle.title}}
  </li>
</ul>
      </div>
    </div>
  </div>
</div>

